@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root,
:root.guts {
  --background-color: #000000;
  --header-color: #e60000;
  --status-color: #f0f0f0;
  --title-color: #e60000;
  --link-color: #f0f0f0;
  --hover-color: #e60000;
  --image: url("../images/guts_01.png");
}

/* :root.pastel { */
/*   --background-color: #fdf4f5; */
/*   --header-color: #ba90c6; */
/*   --status-color: #ba90c6; */
/*   --title-color: #e8a0bf; */
/*   --link-color: #ba90c6; */
/*   --hover-color: #c0dbea; */
/*   --image: url("../images/guts_02.jpg"); */
/* } */

/* :root.alcest { */
/*   --background-color: #08151dff; */
/*   --header-color: #7a8996ff; */
/*   --status-color: #475464ff; */
/*   --title-color: #7a8996ff; */
/*   --link-color: #d4ded6ff; */
/*   --hover-color: #7a8996ff; */
/*   --image: url("../images/itachi_01.jpg"); */
/* } */

/* :root.griffith { */
/*   --background-color: #75989aff; */
/*   --header-color: #353636ff; */
/*   --status-color: #f0f0f0ff; */
/*   --title-color: #353636ff; */
/*   --link-color: #f0f0f0ff; */
/*   --hover-color: #353636ff; */
/*   --image: url("../images/griffith_01.png"); */
/* } */

/* :root.gold { */
/*   --background-color: #18122b; */
/*   --header-color: #d99433; */
/*   --status-color: #edf0e8; */
/*   --title-color: #d99433; */
/*   --link-color: #edf0e8; */
/*   --hover-color: #433f57; */
/*   --image: url("../img/gold.WebP"); */
/* } */

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.header-container {
  text-align: left;
}

h1 {
  color: var(--header-color);
  font-family: "Roboto", monospace;
  font-size: 3rem;
  margin-right: 14vh;
}

.status-strip {
  margin-right: 14vh;
  margin-top: 1vh;
  margin-bottom: 8vh;
  color: var(--status-color);
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
}

span {
  margin-left: 2vh;
}

.card-container {
  height: 30vh;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2%;
  width: 15vh;
  height: 30vh;
  text-align: left;
  padding-right: 10px;
}

.title {
  margin-top: 2vh;
  font-family: "Roboto", monospace;
  color: var(--title-color);
  font-size: 1.2rem;
  text-align: left;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--link-color);
  margin-top: 2vh;
}

a:hover {
  color: var(--hover-color);
}

img {
  grid-column: 1;
  border-radius: 8px;
  grid-row: 2;
  justify-self: end;
  width: 50vh;
  height: 50vh;
  margin-right: 10vh;
  content: var(--image);
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.25),
    0 5px 5px rgba(0, 0, 0, 0.12);
}

.grow {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.grow:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  margin: 5px 0; /* Add some spacing between the links */
  text-decoration: none; /* Optional: remove underline from links */
}

/* Search box styles */
.search-container {
  margin-bottom: 10px;
  text-align: left;
}

.search-box {
  width: 50%;
  padding: 10px;
  border: 1px solid #e60000;
  font-size: 16px;
  color: #000000;
}

.search-button {
  padding: 10px 20px;
  border: 1px solid #800000;
  background-color: #800000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.search-button:hover {
  background-color: #e60000;
}
